@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    // overflow-x:hidden ;
}

.container {
    max-width: 1175px;
    width: 100%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --fontColor: #ffffff;
    --iconColor: #55ce49;
    --h2Color: #2c4755;
    --pColor: #637988;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--fontColor);
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--fontColor);
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--h2Color);
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--pColor);
    line-height: 2;
}

img {
    display: block;
}

.active {
    a {
        background: linear-gradient(-90deg, rgb(237, 242, 246) 0%, rgb(255, 255, 255) 100%);

    }
}
.btn{
    display: inline-block;
    padding: 1.5rem 3.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--fontColor);
    background: #4fbdeb;
    border-radius: 0.5rem;
    transition: 0.5s all ease;

    &:hover{
        background: var(--iconColor);
        color: var(--h2Color);
    }
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.section-padding {
    padding: 5rem 0rem;
}

@import 'header';
@import 'plane';
@import 'services';
@import 'services-header';
@import 'server';
@import 'modern';
@import 'modern2';
@import 'best';
@import 'team';
@import 'company';
@import 'blog';
@import 'office';
@import 'maps';
@import 'mail';
@import 'footer';
@import 'responsive';